<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>NameCards</string>
	<key>CFBundleIdentifier</key>
	<string>com.jiinjoo.namecards</string>
	<key>CFBundleName</key>
	<string>NameCards</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>NameCards uses the camera to detect and capture business cards.</string>
	<key>NSContactsUsageDescription</key>
	<string>NameCards adds scanned business cards to your contacts and checks for duplicates.</string>
</dict>
</plist>
